# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
build/
dist/

# JetBrains
.idea/

# Project Data and Artifacts (ignore all Excel and PDF files)
*.xlsx
*.pdf

# Output Directory
relatorios/
